*{
    padding: 0;
}
body {
    background-color: rgb(37, 204, 73);
    font-family: Arial, Helvetica, sans-serif;
}

#mostrador {
    color: #022a99;
    width: 252px;
    margin: 20px auto 10px;
    
}

.espaco {
    width: 80px;
    height: 60px;
    background-color: #36f0c8;
    border: solid 2px rgb(37, 204, 65);
    border-radius: 8px;
    float: left;
    text-align: center;
    padding-top: 20px;
}
.tabuleiro {
    
    margin: 20px auto;
    width: 252px;
    height: 252px;
    border-radius: 8px;
}
img {
    width: 50px;
    height: 50px;
}
h3{
    float: left;
}
#reload{
   
    width: 252px;
    /* height: 30px; */
    margin: auto;
}
#reload button{
    color: #1e99fd;
    background-color: #8be6e9;
    width: 100%;
    
    font-size: 1.2em;
    margin: 10px auto;
}
#reload button:hover{
    background-color: #1e99fd;
    color: #fff;
}
div#form,
div#table, td{
    width: 252px;
    margin: auto;
}
.borda{
    border: 2px solid #022a99;
    border-radius: 8px;
    height: 40px;
    text-align: center;
    font-weight: bold;

}


/* div#form input{
    width: 100%;
    height: 40px;
    margin: 5px auto;  
    padding-left: 15px;
    box-sizing: border-box;
    font-weight: bold;
    font-size: 1.2em;
} */

/* #a1{
    border-radius: 8px 0 0 0;
}
#a3{
    border-radius: 0 8px 0 0;
}
#c3 {
    border-radius: 0 0 8px 0;
}
#c1{
    border-radius: 0 0 0 8px;
} */